python-telegram-bot==20.7  # Bibliothèque pour interagir avec Telegram
python-dotenv==1.0.0       # Gérer les variables d'environnement
Flask==2.0.1               # Serveur web pour garder le bot actif
